USE [master]
GO
/****** Object:  Database [QLNSVATC]    Script Date: 27/11/2025 4:50:42 ******/
CREATE DATABASE [QLNSVATC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLNSVATC_PRI', FILENAME = N'D:\BaoCaoChung\DoAnCuoiKi\QLNSVATC.mdf' , SIZE = 10240KB , MAXSIZE = UNLIMITED, FILEGROWTH = 2048KB )
 LOG ON 
( NAME = N'QLNSVATC_LOG', FILENAME = N'D:\BaoCaoChung\DoAnCuoiKi\QLNSVATC.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 1024KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNSVATC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNSVATC]
GO
/****** Object:  Table [dbo].[ACTIVITY_LOG]    Script Date: 27/11/2025 4:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACTIVITY_LOG](
	[LogID] [int] NOT NULL,
	[ActionCode] [varchar](20) NULL,
	[AcTionTime] [datetime] NULL,
	[PerformedBy] [nvarchar](100) NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BAOCAO]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAO](
	[MABAOCAO] [varchar](20) NOT NULL,
	[BCNS] [varchar](255) NULL,
	[BCTC] [varchar](255) NULL,
	[BCTH] [varchar](255) NULL,
	[MADN] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[MABAOCAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BIENDONGTHITRUONG]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BIENDONGTHITRUONG](
	[THOIGIAN] [date] NOT NULL,
	[HSTHITRUONG] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[THOIGIAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHAMCONG]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAMCONG](
	[MANV] [varchar](10) NOT NULL,
	[NGAYCC] [date] NOT NULL,
	[GIOVAO] [time](7) NULL,
	[GIORA] [time](7) NULL,
	[GIOCONG] [float] NULL,
	[TANGCA] [float] NULL,
	[TONGCA] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC,
	[NGAYCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONFIRMAUTH]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONFIRMAUTH](
	[AUTH] [varchar](7) NOT NULL,
	[NAMEAUTH] [nvarchar](30) NULL,
	[CODE] [varchar](10) NULL,
	[CODEBUS] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[AUTH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CPDUAN]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CPDUAN](
	[MADA] [varchar](10) NOT NULL,
	[MANHAP] [varchar](5) NOT NULL,
	[MAVC] [varchar](5) NOT NULL,
	[HSTHAYDOI] [money] NULL,
	[CHIPHITONG] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADA] ASC,
	[MANHAP] ASC,
	[MAVC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DSBANGCAP]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSBANGCAP](
	[MABC] [varchar](300) NOT NULL,
	[TENBC] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MABC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DSCHUYENMON]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSCHUYENMON](
	[MACM] [varchar](10) NOT NULL,
	[TENCM] [nvarchar](50) NULL,
	[CACKN] [varchar](300) NULL,
	[CACBC] [varchar](300) NULL,
	[CACNN] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[MACM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DSHESO]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSHESO](
	[MAHSO] [varchar](4) NULL,
	[HESOTIEN] [float] NULL,
	[LYDO] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DSKYNANG]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSKYNANG](
	[MAKN] [varchar](300) NOT NULL,
	[TENKN] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DSNGAYLE]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSNGAYLE](
	[NGAYLE] [date] NOT NULL,
	[NOIDUNG] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[NGAYLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DSNGONNGU]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSNGONNGU](
	[MANN] [varchar](300) NOT NULL,
	[TENNN] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DSTHUONGPHAT]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSTHUONGPHAT](
	[MANV] [varchar](10) NOT NULL,
	[NGAY] [date] NOT NULL,
	[HINHTHUC] [varchar](2) NULL,
	[SOTIEN] [money] NULL,
	[HESOTIEN] [float] NULL,
	[TONG] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC,
	[NGAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DTDICHVU]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DTDICHVU](
	[MADV] [varchar](5) NOT NULL,
	[MAKH] [varchar](8) NULL,
	[LHDICHVU] [nvarchar](20) NULL,
	[NGAYSDDV] [date] NULL,
	[GIACADUTINH] [money] NULL,
	[GIACATONG] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DTDUAN]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DTDUAN](
	[MADA] [varchar](10) NOT NULL,
	[MALH] [varchar](5) NOT NULL,
	[MAKV] [varchar](5) NOT NULL,
	[DSMARR] [varchar](30) NULL,
	[HSTHAYDOI] [money] NULL,
	[TIENNGHIEMTHU_TONG] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADA] ASC,
	[MALH] ASC,
	[MAKV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DTTHEOKV]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DTTHEOKV](
	[MAKV] [varchar](5) NOT NULL,
	[TENTINH] [nvarchar](20) NULL,
	[HESOKV] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DTTHEOLHCT]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DTTHEOLHCT](
	[MALH] [varchar](5) NOT NULL,
	[TENLH] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DUAN]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DUAN](
	[MADA] [varchar](10) NOT NULL,
	[TIENCOC] [money] NULL,
	[TIENNGHIEMTHU_DUTINH] [money] NULL,
	[MAKH] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DUANTHEOHOPDONG]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DUANTHEOHOPDONG](
	[MADAHD] [varchar](20) NOT NULL,
	[MADA] [varchar](10) NULL,
	[MAHD] [varchar](5) NULL,
	[NGAYKT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FONTS]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FONTS](
	[FontCode] [varchar](20) NOT NULL,
	[FontName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[FontCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOPDONG]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPDONG](
	[MAHD] [varchar](5) NOT NULL,
	[TENHD] [nvarchar](40) NULL,
	[LOAI] [varchar](4) NULL,
	[NGAYBD] [date] NULL,
	[NGAYKT_DUTINH] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOSOVIECLAM]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOSOVIECLAM](
	[ID] [int] NOT NULL,
	[TENUNGVIEN] [nvarchar](100) NULL,
	[FILETHONGTIN] [varchar](255) NULL,
	[FILEBANGCAP] [varchar](255) NULL,
	[FILEKHAC] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [varchar](8) NOT NULL,
	[LOAIKH] [nvarchar](50) NULL,
	[THONGTIN] [nvarchar](20) NULL,
	[LIENHE] [varchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LANGUAGE]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LANGUAGE](
	[LanguageCode] [varchar](10) NOT NULL,
	[LanguageName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[LanguageCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LAYOUT_MODE]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LAYOUT_MODE](
	[LayoutCode] [varchar](20) NOT NULL,
	[LayoutName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[LayoutCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHLAMVIEC]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHLAMVIEC](
	[NGAYLAMVIEC] [date] NOT NULL,
	[MANV] [varchar](10) NOT NULL,
	[CHUNHAT] [tinyint] NULL,
	[NGAYLE] [tinyint] NULL,
	[HESOLUONG] [real] NULL,
	[NOIDUNGLAMVIEC] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[NGAYLAMVIEC] ASC,
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LUONG]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUONG](
	[MANV] [varchar](10) NOT NULL,
	[LOAINV] [char](2) NULL,
	[LUONGCOBAN] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENU]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENU](
	[MenuId] [int] IDENTITY(1,1) NOT NULL,
	[MenuName] [nvarchar](200) NULL,
	[MenuLink] [nvarchar](200) NULL,
	[ParentId] [int] NULL,
	[OrderNumber] [int] NULL,
	[TranslateKey] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANTHAN]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANTHAN](
	[MANV] [varchar](10) NOT NULL,
	[TENNT] [nvarchar](30) NULL,
	[DIENTHOAI] [varchar](10) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[QUANHE] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](10) NOT NULL,
	[HOLOT] [nvarchar](20) NULL,
	[TENNV] [nvarchar](10) NULL,
	[NAMSINH] [smallint] NULL,
	[GIOITINH] [bit] NULL,
	[MAPB] [varchar](6) NULL,
	[MACV] [varchar](6) NULL,
	[ANH] [varchar](255) NULL,
	[HDLD] [datetime] NULL,
	[MADN] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAPNVL]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAPNVL](
	[MANHAP] [varchar](5) NOT NULL,
	[TENNVL] [nvarchar](50) NULL,
	[CPNHAP] [money] NULL,
	[NGAYNHAP] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NVTHAMGIADA]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NVTHAMGIADA](
	[MADAHD] [varchar](20) NOT NULL,
	[MANV] [varchar](10) NOT NULL,
	[TONGTGLAMVIEC] [float] NULL,
	[LUONGTHEODUAN] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADAHD] ASC,
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIENDICH]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIENDICH](
	[TranslateKey] [varchar](100) NOT NULL,
	[vi_VN] [nvarchar](200) NULL,
	[en_US] [nvarchar](200) NULL,
	[jp_JP] [nvarchar](200) NULL,
	[kr_KR] [nvarchar](200) NULL,
	[cn_CN] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[TranslateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGBAN](
	[MAPB] [varchar](6) NOT NULL,
	[TENPB] [nvarchar](30) NULL,
	[MATRG_PHG] [varchar](10) NULL,
	[DIADIEM] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RUIRO]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RUIRO](
	[MARR] [varchar](30) NOT NULL,
	[TENRR] [nvarchar](20) NULL,
	[HESORR] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MARR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THEME]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THEME](
	[ThemeCode] [varchar](20) NOT NULL,
	[ThemeName] [nvarchar](50) NULL,
	[HexColor] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ThemeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONGTINBAOHIEM]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGTINBAOHIEM](
	[MANV] [varchar](10) NOT NULL,
	[LOAIBAOHIEM] [nvarchar](20) NULL,
	[SOBAOHIEM] [varchar](4) NULL,
	[THOIHAN] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONGTINDOANHNGHIEP]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGTINDOANHNGHIEP](
	[MADN] [varchar](5) NOT NULL,
	[TENDN] [nvarchar](255) NULL,
	[PHANCAP] [nvarchar](255) NULL,
	[DIACHI] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONGTINLIENHE]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGTINLIENHE](
	[MANV] [varchar](10) NOT NULL,
	[SODT] [varchar](10) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[FB] [varchar](15) NULL,
	[GMAIL] [varchar](20) NULL,
	[QUEQUAN] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONGTINSUCKHOE]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGTINSUCKHOE](
	[MANV] [varchar](10) NOT NULL,
	[CHIEUCAO] [tinyint] NULL,
	[CANNANG] [tinyint] NULL,
	[TIENSUBENH] [nvarchar](20) NULL,
	[THILUCTREN10] [tinyint] NULL,
	[NGAYCAPNHAT] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_SETTINGS]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_SETTINGS](
	[SettingId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [varchar](10) NOT NULL,
	[ThemeCode] [varchar](20) NULL,
	[DarkMode] [bit] NOT NULL,
	[LanguageCode] [varchar](10) NULL,
	[FontCode] [varchar](20) NULL,
	[FontSize] [int] NULL,
	[LayoutCode] [varchar](20) NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SettingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[USERNAME] [varchar](255) NOT NULL,
	[PASS] [varchar](255) NULL,
	[AUTH] [varchar](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VANCHUYENNVL]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VANCHUYENNVL](
	[MAVC] [varchar](5) NOT NULL,
	[CPVC] [money] NULL,
	[NGAYVC] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAVC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VITRICONGVIEC]    Script Date: 27/11/2025 4:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VITRICONGVIEC](
	[MACV] [varchar](6) NOT NULL,
	[TENCV] [nvarchar](50) NULL,
	[MACM] [varchar](10) NULL,
	[HESOLUONG] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MACV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ACTIVITY_LOG] ([LogID], [ActionCode], [AcTionTime], [PerformedBy], [Description]) VALUES (1, N'Set', CAST(N'2025-04-24T23:06:09.000' AS DateTime), N'hrm', N'Đã chỉnh sửa nhân viên có mã ANH85012PC')
INSERT [dbo].[ACTIVITY_LOG] ([LogID], [ActionCode], [AcTionTime], [PerformedBy], [Description]) VALUES (2, N'Exp', CAST(N'2025-04-24T23:06:22.000' AS DateTime), N'hrm', N'Đã xuất một file Exp')
INSERT [dbo].[ACTIVITY_LOG] ([LogID], [ActionCode], [AcTionTime], [PerformedBy], [Description]) VALUES (3, N'Add', CAST(N'2025-04-24T23:07:54.000' AS DateTime), N'hrm', N'Đã thêm một nhân viên có mã XMTZZ511')
GO
INSERT [dbo].[BAOCAO] ([MABAOCAO], [BCNS], [BCTC], [BCTH], [MADN]) VALUES (N'20241215104522AMA', N'BCNS_2024_12_15.docx', N'BCTC_2024_12_15.xlsx', N'BCTH_2024_12_15.pdf', N'TBTHN')
INSERT [dbo].[BAOCAO] ([MABAOCAO], [BCNS], [BCTC], [BCTH], [MADN]) VALUES (N'20250110123045AMB', N'BCNS_2025_01_10.docx', N'BCTC_2025_01_10.xlsx', N'BCTH_2025_01_10.pdf', N'TBTDN')
INSERT [dbo].[BAOCAO] ([MABAOCAO], [BCNS], [BCTC], [BCTH], [MADN]) VALUES (N'20250205101512AMC', N'BCNS_2025_02_05.docx', N'BCTC_2025_02_05.xlsx', N'BCTH_2025_02_05.pdf', N'TBTHP')
GO
INSERT [dbo].[BIENDONGTHITRUONG] ([THOIGIAN], [HSTHITRUONG]) VALUES (CAST(N'2024-10-05' AS Date), 0.6)
INSERT [dbo].[BIENDONGTHITRUONG] ([THOIGIAN], [HSTHITRUONG]) VALUES (CAST(N'2024-10-10' AS Date), 0.1)
INSERT [dbo].[BIENDONGTHITRUONG] ([THOIGIAN], [HSTHITRUONG]) VALUES (CAST(N'2024-10-20' AS Date), 0.9)
GO
INSERT [dbo].[CHAMCONG] ([MANV], [NGAYCC], [GIOVAO], [GIORA], [GIOCONG], [TANGCA], [TONGCA]) VALUES (N'ANH85012PT', CAST(N'2025-05-12' AS Date), CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), 8, 0, 8)
INSERT [dbo].[CHAMCONG] ([MANV], [NGAYCC], [GIOVAO], [GIORA], [GIOCONG], [TANGCA], [TONGCA]) VALUES (N'ANH85012PT', CAST(N'2025-06-12' AS Date), CAST(N'08:15:00' AS Time), CAST(N'17:15:00' AS Time), 8, 0.5, 8.5)
INSERT [dbo].[CHAMCONG] ([MANV], [NGAYCC], [GIOVAO], [GIORA], [GIOCONG], [TANGCA], [TONGCA]) VALUES (N'ANH85012PT', CAST(N'2025-07-12' AS Date), CAST(N'08:30:00' AS Time), CAST(N'17:30:00' AS Time), 8, 1, 9)
GO
INSERT [dbo].[CONFIRMAUTH] ([AUTH], [NAMEAUTH], [CODE], [CODEBUS]) VALUES (N'AD', N'Admin', NULL, NULL)
INSERT [dbo].[CONFIRMAUTH] ([AUTH], [NAMEAUTH], [CODE], [CODEBUS]) VALUES (N'FNTBTAG', N'Quản lý tài chính', N'THU75092PK', N'TBTAG')
INSERT [dbo].[CONFIRMAUTH] ([AUTH], [NAMEAUTH], [CODE], [CODEBUS]) VALUES (N'FNTBTBD', N'Quản lý tài chính', N'KHA11069FH', N'TBTBD')
GO
INSERT [dbo].[CPDUAN] ([MADA], [MANHAP], [MAVC], [HSTHAYDOI], [CHIPHITONG]) VALUES (N'1XNN01', N'N001', N'VC01', 1.0000, 12500000.0000)
INSERT [dbo].[CPDUAN] ([MADA], [MANHAP], [MAVC], [HSTHAYDOI], [CHIPHITONG]) VALUES (N'1XNN05', N'N004', N'VC01', 1.0500, 9100000.0000)
INSERT [dbo].[CPDUAN] ([MADA], [MANHAP], [MAVC], [HSTHAYDOI], [CHIPHITONG]) VALUES (N'1XNN09', N'N003', N'VC06', 1.2500, 13200000.0000)
GO
INSERT [dbo].[DSBANGCAP] ([MABC], [TENBC]) VALUES (N'BC10', N'Cao đẳng')
INSERT [dbo].[DSBANGCAP] ([MABC], [TENBC]) VALUES (N'BC11', N'Dại học')
INSERT [dbo].[DSBANGCAP] ([MABC], [TENBC]) VALUES (N'BC12', N'Thạc sĩ')
GO
INSERT [dbo].[DSCHUYENMON] ([MACM], [TENCM], [CACKN], [CACBC], [CACNN]) VALUES (N'CDA0000005', N'Chuyên viên an toàn lao động', N'DT05', N'BC14', N'JPN4')
INSERT [dbo].[DSCHUYENMON] ([MACM], [TENCM], [CACKN], [CACBC], [CACNN]) VALUES (N'CDA0000011', N'Kỹ sư địa chất công trình', N'CL11', N'BC20', N'POR0')
INSERT [dbo].[DSCHUYENMON] ([MACM], [TENCM], [CACKN], [CACBC], [CACNN]) VALUES (N'CDA0000017', N'Quản lý chất lượng công trình', N'MN17', N'BC28', N'THA6')
GO
INSERT [dbo].[DSHESO] ([MAHSO], [HESOTIEN], [LYDO]) VALUES (N'HS01', 1.1, N'Tăng lương định kỳ')
INSERT [dbo].[DSHESO] ([MAHSO], [HESOTIEN], [LYDO]) VALUES (N'HS02', 0.9, N'Cắt giảm do vi phạm nội quy')
INSERT [dbo].[DSHESO] ([MAHSO], [HESOTIEN], [LYDO]) VALUES (N'HS03', 1.2, N'Khen thưởng hiệu suất cao')
GO
INSERT [dbo].[DSKYNANG] ([MAKN], [TENKN]) VALUES (N'BB18', N'TC bãi đỗ xe')
INSERT [dbo].[DSKYNANG] ([MAKN], [TENKN]) VALUES (N'BC50', N'TC bồn cầu')
INSERT [dbo].[DSKYNANG] ([MAKN], [TENKN]) VALUES (N'BD74', N'Bậc thang rời')
GO
INSERT [dbo].[DSNGAYLE] ([NGAYLE], [NOIDUNG]) VALUES (CAST(N'2024-01-01' AS Date), N'Tết Dương lịch')
INSERT [dbo].[DSNGAYLE] ([NGAYLE], [NOIDUNG]) VALUES (CAST(N'2024-02-09' AS Date), N'Tết Nguyên Đán - Mùng 1')
INSERT [dbo].[DSNGAYLE] ([NGAYLE], [NOIDUNG]) VALUES (CAST(N'2024-02-10' AS Date), N'Tết Nguyên Đán - Mùng 2')
GO
INSERT [dbo].[DSNGONNGU] ([MANN], [TENNN]) VALUES (N'AMH6', N'Amharic')
INSERT [dbo].[DSNGONNGU] ([MANN], [TENNN]) VALUES (N'BAS3', N'Basque')
INSERT [dbo].[DSNGONNGU] ([MANN], [TENNN]) VALUES (N'BGR8', N'Bulgaria')
GO
INSERT [dbo].[DSTHUONGPHAT] ([MANV], [NGAY], [HINHTHUC], [SOTIEN], [HESOTIEN], [TONG]) VALUES (N'BAO11031CF', CAST(N'2025-01-05' AS Date), N'KL', 8000000.0000, 0.7, 5600000.0000)
INSERT [dbo].[DSTHUONGPHAT] ([MANV], [NGAY], [HINHTHUC], [SOTIEN], [HESOTIEN], [TONG]) VALUES (N'BAO11031CF', CAST(N'2025-04-23' AS Date), N'KT', 50000.0000, 2, 100000.0000)
INSERT [dbo].[DSTHUONGPHAT] ([MANV], [NGAY], [HINHTHUC], [SOTIEN], [HESOTIEN], [TONG]) VALUES (N'BAO11031CF', CAST(N'2025-04-24' AS Date), N'KT', 100000.0000, 2, 200000.0000)
GO
INSERT [dbo].[DTDICHVU] ([MADV], [MAKH], [LHDICHVU], [NGAYSDDV], [GIACADUTINH], [GIACATONG]) VALUES (N'DV001', N'CN000010', N'BẢO TRÌ', CAST(N'2024-10-01' AS Date), 250000.0000, 25000.0000)
INSERT [dbo].[DTDICHVU] ([MADV], [MAKH], [LHDICHVU], [NGAYSDDV], [GIACADUTINH], [GIACATONG]) VALUES (N'DV002', N'CN000011', N'SƠN NHÀ', CAST(N'2023-11-02' AS Date), 500000.0000, 700000.0000)
INSERT [dbo].[DTDICHVU] ([MADV], [MAKH], [LHDICHVU], [NGAYSDDV], [GIACADUTINH], [GIACATONG]) VALUES (N'DV003', N'CN000012', N'XÂY DỰNG', CAST(N'2025-01-03' AS Date), 750000.0000, 2175000.0000)
GO
INSERT [dbo].[DTDUAN] ([MADA], [MALH], [MAKV], [DSMARR], [HSTHAYDOI], [TIENNGHIEMTHU_TONG]) VALUES (N'1XNN21', N'CTK24', N'17', N'BOC55', 1.3200, 1469820000.0000)
INSERT [dbo].[DTDUAN] ([MADA], [MALH], [MAKV], [DSMARR], [HSTHAYDOI], [TIENNGHIEMTHU_TONG]) VALUES (N'1XNN25', N'CTN13', N'18', N'CHAT30', 2.8000, 3531360000.0000)
INSERT [dbo].[DTDUAN] ([MADA], [MALH], [MAKV], [DSMARR], [HSTHAYDOI], [TIENNGHIEMTHU_TONG]) VALUES (N'1XNN33', N'KDC15', N'20', N'DONG30', 4.2300, 4987170000.0000)
GO
INSERT [dbo].[DTTHEOKV] ([MAKV], [TENTINH], [HESOKV]) VALUES (N'11', N'Cao Bằng', 0.1)
INSERT [dbo].[DTTHEOKV] ([MAKV], [TENTINH], [HESOKV]) VALUES (N'12', N'Lạng Sơn', 0.2)
INSERT [dbo].[DTTHEOKV] ([MAKV], [TENTINH], [HESOKV]) VALUES (N'14', N'Quảng Ninh', 0.3)
GO
INSERT [dbo].[DTTHEOLHCT] ([MALH], [TENLH]) VALUES (N'CCT16', N'Công Trình Công Cộng')
INSERT [dbo].[DTTHEOLHCT] ([MALH], [TENLH]) VALUES (N'CCT20', N'Công Trình Thể Thao')
INSERT [dbo].[DTTHEOLHCT] ([MALH], [TENLH]) VALUES (N'CCT34', N'Công Trình Thủy Lợi')
GO
INSERT [dbo].[DUAN] ([MADA], [TIENCOC], [TIENNGHIEMTHU_DUTINH], [MAKH]) VALUES (N'1XNN01', 53870000.0000, 123870000.0000, N'DN000010')
INSERT [dbo].[DUAN] ([MADA], [TIENCOC], [TIENNGHIEMTHU_DUTINH], [MAKH]) VALUES (N'1XNN05', 498700000.0000, 1142500000.0000, N'DN000014')
INSERT [dbo].[DUAN] ([MADA], [TIENCOC], [TIENNGHIEMTHU_DUTINH], [MAKH]) VALUES (N'1XNN09', 654800000.0000, 1510500000.0000, N'DN000018')
GO
INSERT [dbo].[DUANTHEOHOPDONG] ([MADAHD], [MADA], [MAHD], [NGAYKT]) VALUES (N'20240101289', N'1XNN09', N'XNN09', CAST(N'2024-04-25T00:00:00.000' AS DateTime))
INSERT [dbo].[DUANTHEOHOPDONG] ([MADAHD], [MADA], [MAHD], [NGAYKT]) VALUES (N'20240110312', N'1XNN01', N'XNN01', CAST(N'2024-07-05T00:00:00.000' AS DateTime))
INSERT [dbo].[DUANTHEOHOPDONG] ([MADAHD], [MADA], [MAHD], [NGAYKT]) VALUES (N'20240212497', N'2XNB02', N'XNB02', CAST(N'2025-01-05T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[FONTS] ([FontCode], [FontName]) VALUES (N'arial', N'Arial')
INSERT [dbo].[FONTS] ([FontCode], [FontName]) VALUES (N'inter', N'Inter')
INSERT [dbo].[FONTS] ([FontCode], [FontName]) VALUES (N'opensans', N'Open Sans')
GO
INSERT [dbo].[HOPDONG] ([MAHD], [TENHD], [LOAI], [NGAYBD], [NGAYKT_DUTINH]) VALUES (N'XCC03', N'Xây cầu đường', N'3', CAST(N'2024-03-25' AS Date), CAST(N'2025-04-30' AS Date))
INSERT [dbo].[HOPDONG] ([MAHD], [TENHD], [LOAI], [NGAYBD], [NGAYKT_DUTINH]) VALUES (N'XCC07', N'Xây cầu vượt', N'3', CAST(N'2024-07-17' AS Date), CAST(N'2025-07-28' AS Date))
INSERT [dbo].[HOPDONG] ([MAHD], [TENHD], [LOAI], [NGAYBD], [NGAYKT_DUTINH]) VALUES (N'XCC11', N'Sửa chữa cầu đường', N'3', CAST(N'2024-06-10' AS Date), CAST(N'2025-05-01' AS Date))
GO
INSERT [dbo].[HOSOVIECLAM] ([ID], [TENUNGVIEN], [FILETHONGTIN], [FILEBANGCAP], [FILEKHAC]) VALUES (1, N'Nguyễn Tâm Bình', N'nguyentambinh_20250425.pdf', N'nguyentambinh_20250425.pdf', NULL)
INSERT [dbo].[HOSOVIECLAM] ([ID], [TENUNGVIEN], [FILETHONGTIN], [FILEBANGCAP], [FILEKHAC]) VALUES (2, N'Trần Thị Minh Anh', N'tranthiminhanh_20250425.pdf', N'tranthiminhanh_20250425.pdf', N'tranthiminhanh_khac_20250425.jpg')
INSERT [dbo].[HOSOVIECLAM] ([ID], [TENUNGVIEN], [FILETHONGTIN], [FILEBANGCAP], [FILEKHAC]) VALUES (3, N'Lê Quốc Huy', N'lequochuy_20250424.pdf', N'lequochuy_20250424.pdf', NULL)
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [LOAIKH], [THONGTIN], [LIENHE], [DIACHI]) VALUES (N'CN000010', N'CN', N'Nguyễn Văn An', N'0901234567', N'Hà Nội')
INSERT [dbo].[KHACHHANG] ([MAKH], [LOAIKH], [THONGTIN], [LIENHE], [DIACHI]) VALUES (N'CN000011', N'CN', N'Trần Thị Bình', N'0902345678', N'TP Hồ Chí Minh')
INSERT [dbo].[KHACHHANG] ([MAKH], [LOAIKH], [THONGTIN], [LIENHE], [DIACHI]) VALUES (N'CN000012', N'CN', N'Lê Văn Cường', N'0903456789', N'Đà Nẵng')
GO
INSERT [dbo].[LANGUAGE] ([LanguageCode], [LanguageName]) VALUES (N'cn-CN', N'中文')
INSERT [dbo].[LANGUAGE] ([LanguageCode], [LanguageName]) VALUES (N'en-US', N'English')
INSERT [dbo].[LANGUAGE] ([LanguageCode], [LanguageName]) VALUES (N'jp-JP', N'日本語')
GO
INSERT [dbo].[LAYOUT_MODE] ([LayoutCode], [LayoutName]) VALUES (N'comfortable', N'Thoải mái')
INSERT [dbo].[LAYOUT_MODE] ([LayoutCode], [LayoutName]) VALUES (N'compact', N'Gọn')
INSERT [dbo].[LAYOUT_MODE] ([LayoutCode], [LayoutName]) VALUES (N'default', N'Mặc định')
GO
INSERT [dbo].[LICHLAMVIEC] ([NGAYLAMVIEC], [MANV], [CHUNHAT], [NGAYLE], [HESOLUONG], [NOIDUNGLAMVIEC]) VALUES (CAST(N'2025-01-06' AS Date), N'NHU00192SG', 1, 1, 1, N'Hoàn thiện hồ sơ nhật ký công trình')
INSERT [dbo].[LICHLAMVIEC] ([NGAYLAMVIEC], [MANV], [CHUNHAT], [NGAYLE], [HESOLUONG], [NOIDUNGLAMVIEC]) VALUES (CAST(N'2025-01-07' AS Date), N'QUY92111QT', 1, 1, 1, N'Lắp đặt hệ thống PCCC')
INSERT [dbo].[LICHLAMVIEC] ([NGAYLAMVIEC], [MANV], [CHUNHAT], [NGAYLE], [HESOLUONG], [NOIDUNGLAMVIEC]) VALUES (CAST(N'2025-01-08' AS Date), N'HIE87056MN', 1, 1, 1, N'Lắp đặt hệ thống PCCC')
GO
INSERT [dbo].[LUONG] ([MANV], [LOAINV], [LUONGCOBAN]) VALUES (N'ANH85012PT', N'PT', 11500000.0000)
INSERT [dbo].[LUONG] ([MANV], [LOAINV], [LUONGCOBAN]) VALUES (N'Anh8715OP', N'PT', 11200000.0000)
INSERT [dbo].[LUONG] ([MANV], [LOAINV], [LUONGCOBAN]) VALUES (N'ANH98191KH', N'FT', 13200000.0000)
GO
SET IDENTITY_INSERT [dbo].[MENU] ON 

INSERT [dbo].[MENU] ([MenuId], [MenuName], [MenuLink], [ParentId], [OrderNumber], [TranslateKey]) VALUES (1, N'Trang chủ', N'', NULL, 1, N'MENU.TRANG_CHU')
INSERT [dbo].[MENU] ([MenuId], [MenuName], [MenuLink], [ParentId], [OrderNumber], [TranslateKey]) VALUES (2, N'Giới thiệu', N'gioi-thieu', NULL, 2, N'MENU.GIOI_THIEU')
INSERT [dbo].[MENU] ([MenuId], [MenuName], [MenuLink], [ParentId], [OrderNumber], [TranslateKey]) VALUES (3, N'Liên hệ', N'lien-he', NULL, 3, N'MENU.LIEN_HE')
SET IDENTITY_INSERT [dbo].[MENU] OFF
GO
INSERT [dbo].[NHANTHAN] ([MANV], [TENNT], [DIENTHOAI], [DIACHI], [QUANHE]) VALUES (N'BAO11031CF', N'Trần Thị Hoa', N'0912783456', N'14 Nguyễn Văn Cừ, DN', N'Vợ')
INSERT [dbo].[NHANTHAN] ([MANV], [TENNT], [DIENTHOAI], [DIACHI], [QUANHE]) VALUES (N'BIS05143HN', N'Võ Mỹ Lan', N'0978456312', N'12 Nguyễn Văn Cừ, HN', N'Vợ')
INSERT [dbo].[NHANTHAN] ([MANV], [TENNT], [DIENTHOAI], [DIACHI], [QUANHE]) VALUES (N'DUC98166QT', N'Phạm Hữu Khang', N'0945782315', N'45 Hoàng Diệu, DN', N'Em')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [HOLOT], [TENNV], [NAMSINH], [GIOITINH], [MAPB], [MACV], [ANH], [HDLD], [MADN]) VALUES (N'ANH85012PT', N'Nguyễn Đức', N'Anh', 1985, 1, N'MK678', N'GTC021', NULL, NULL, N'TBTDG')
INSERT [dbo].[NHANVIEN] ([MANV], [HOLOT], [TENNV], [NAMSINH], [GIOITINH], [MAPB], [MACV], [ANH], [HDLD], [MADN]) VALUES (N'Anh8715OP', N'Nguyễn Văn', N'Anh', 1998, 1, N'CT890', N'VPQL36', NULL, NULL, N'TBTHN')
INSERT [dbo].[NHANVIEN] ([MANV], [HOLOT], [TENNV], [NAMSINH], [GIOITINH], [MAPB], [MACV], [ANH], [HDLD], [MADN]) VALUES (N'ANH98191KH', N'Nguyễn Trần', N'Anh', 1998, 1, N'KH123', N'QLNS36', NULL, NULL, N'TBTDZ')
GO
INSERT [dbo].[NHAPNVL] ([MANHAP], [TENNVL], [CPNHAP], [NGAYNHAP]) VALUES (N'N001', N'Thép hộp 40x40', 5200000.0000, CAST(N'2025-04-05' AS Date))
INSERT [dbo].[NHAPNVL] ([MANHAP], [TENNVL], [CPNHAP], [NGAYNHAP]) VALUES (N'N002', N'Xi măng Holcim PCB40', 3450000.0000, CAST(N'2025-04-06' AS Date))
INSERT [dbo].[NHAPNVL] ([MANHAP], [TENNVL], [CPNHAP], [NGAYNHAP]) VALUES (N'N003', N'Cát bê tông hạt lớn', 2180000.0000, CAST(N'2025-04-06' AS Date))
GO
INSERT [dbo].[NVTHAMGIADA] ([MADAHD], [MANV], [TONGTGLAMVIEC], [LUONGTHEODUAN]) VALUES (N'20240101289', N'THU75087YN', 175, 34000000.0000)
INSERT [dbo].[NVTHAMGIADA] ([MADAHD], [MANV], [TONGTGLAMVIEC], [LUONGTHEODUAN]) VALUES (N'20240110312', N'NHU00192SG', 180, 35000000.0000)
INSERT [dbo].[NVTHAMGIADA] ([MADAHD], [MANV], [TONGTGLAMVIEC], [LUONGTHEODUAN]) VALUES (N'20240212497', N'QUY92111QT', 190, 37000000.0000)
GO
INSERT [dbo].[PHIENDICH] ([TranslateKey], [vi_VN], [en_US], [jp_JP], [kr_KR], [cn_CN]) VALUES (N'MENU.GIOI_THIEU', N'Giới thiệu', N'About', N'紹介', N'소개', N'介绍')
INSERT [dbo].[PHIENDICH] ([TranslateKey], [vi_VN], [en_US], [jp_JP], [kr_KR], [cn_CN]) VALUES (N'MENU.LIEN_HE', N'Liên hệ', N'Contact', N'連絡先', N'연락처', N'联系方式')
INSERT [dbo].[PHIENDICH] ([TranslateKey], [vi_VN], [en_US], [jp_JP], [kr_KR], [cn_CN]) VALUES (N'MENU.LIEN_HE.FACEBOOK', N'Liên hệ Facebook', N'Facebook', N'フェイスブック', N'페이스북', N'脸书')
GO
INSERT [dbo].[PHONGBAN] ([MAPB], [TENPB], [MATRG_PHG], [DIADIEM]) VALUES (N'ABT13', N'An Toàn Lao Đao', N'THI87056MN', 36)
INSERT [dbo].[PHONGBAN] ([MAPB], [TENPB], [MATRG_PHG], [DIADIEM]) VALUES (N'CT890', N'Công Nghệ Xây Dựng', N'Giang4621', 88)
INSERT [dbo].[PHONGBAN] ([MAPB], [TENPB], [MATRG_PHG], [DIADIEM]) VALUES (N'DN901', N'Đối Ngoại Xây Dựng', NULL, 76)
GO
INSERT [dbo].[RUIRO] ([MARR], [TENRR], [HESORR]) VALUES (N'ANH20', N'An toàn', 3.1)
INSERT [dbo].[RUIRO] ([MARR], [TENRR], [HESORR]) VALUES (N'ANHUNG90', N'Ảnh hưởng', 5)
INSERT [dbo].[RUIRO] ([MARR], [TENRR], [HESORR]) VALUES (N'BAO20', N'Bão', 2.9)
GO
INSERT [dbo].[THEME] ([ThemeCode], [ThemeName], [HexColor]) VALUES (N'blue', N'Xanh dương', N'#0d6efd')
INSERT [dbo].[THEME] ([ThemeCode], [ThemeName], [HexColor]) VALUES (N'dark', N'Tối', N'#212529')
INSERT [dbo].[THEME] ([ThemeCode], [ThemeName], [HexColor]) VALUES (N'green', N'Xanh lá', N'#198754')
GO
INSERT [dbo].[THONGTINBAOHIEM] ([MANV], [LOAIBAOHIEM], [SOBAOHIEM], [THOIHAN]) VALUES (N'ANH85012PT', N'Sức khỏe', N'1068', CAST(N'2030-06-30' AS Date))
INSERT [dbo].[THONGTINBAOHIEM] ([MANV], [LOAIBAOHIEM], [SOBAOHIEM], [THOIHAN]) VALUES (N'Anh8715OP', N'Nhân thọ', N'1091', CAST(N'2026-12-31' AS Date))
INSERT [dbo].[THONGTINBAOHIEM] ([MANV], [LOAIBAOHIEM], [SOBAOHIEM], [THOIHAN]) VALUES (N'ANH98191KH', N'Nhân thọ', N'1016', CAST(N'2029-06-30' AS Date))
GO
INSERT [dbo].[THONGTINDOANHNGHIEP] ([MADN], [TENDN], [PHANCAP], [DIACHI]) VALUES (N'TBTAG', N'Công Ty TNHH Xây Dựng TBT - AG', N'Chi nhánh thuộc TBT Center', N'23 Nguyễn Huệ, Long Xuyên, An Giang')
INSERT [dbo].[THONGTINDOANHNGHIEP] ([MADN], [TENDN], [PHANCAP], [DIACHI]) VALUES (N'TBTBD', N'Công Ty TNHH Xây Dựng TBT - BD', N'Chi nhánh thuộc TBT Center', N'22 Đại Lộ Bình Dương, Thủ Dầu Một, Bình Dương')
INSERT [dbo].[THONGTINDOANHNGHIEP] ([MADN], [TENDN], [PHANCAP], [DIACHI]) VALUES (N'TBTBT', N'Công Ty TNHH Xây Dựng TBT - BT', N'Chi nhánh thuộc TBT Center', N'19 Nguyễn Đình Chiểu, TP. Bến Tre')
GO
INSERT [dbo].[THONGTINLIENHE] ([MANV], [SODT], [DIACHI], [FB], [GMAIL], [QUEQUAN]) VALUES (N'BAO11031CF', N'0912345695', N'Đắc Nông', N'6789012345', N'X-RND26', 48)
INSERT [dbo].[THONGTINLIENHE] ([MANV], [SODT], [DIACHI], [FB], [GMAIL], [QUEQUAN]) VALUES (N'BAO11044CF', N'0912345753', N'Bắc Ninh', N'3456789014', N'X-RND84', 99)
INSERT [dbo].[THONGTINLIENHE] ([MANV], [SODT], [DIACHI], [FB], [GMAIL], [QUEQUAN]) VALUES (N'CHI90056BD', N'0912345712', N'Trá Vinh', N'3456789013', N'X-RND43', 84)
GO
INSERT [dbo].[THONGTINSUCKHOE] ([MANV], [CHIEUCAO], [CANNANG], [TIENSUBENH], [THILUCTREN10], [NGAYCAPNHAT]) VALUES (N'ANH85012PT', 170, 65, N'Không', 9, CAST(N'2025-12-10' AS Date))
INSERT [dbo].[THONGTINSUCKHOE] ([MANV], [CHIEUCAO], [CANNANG], [TIENSUBENH], [THILUCTREN10], [NGAYCAPNHAT]) VALUES (N'Anh8715OP', 170, 65, N'Không', 9, CAST(N'2025-12-31' AS Date))
INSERT [dbo].[THONGTINSUCKHOE] ([MANV], [CHIEUCAO], [CANNANG], [TIENSUBENH], [THILUCTREN10], [NGAYCAPNHAT]) VALUES (N'ANH98191KH', 169, 64, N'Không', 9, CAST(N'2025-03-25' AS Date))
GO
SET IDENTITY_INSERT [dbo].[USER_SETTINGS] ON 

INSERT [dbo].[USER_SETTINGS] ([SettingId], [UserId], [ThemeCode], [DarkMode], [LanguageCode], [FontCode], [FontSize], [LayoutCode], [UpdatedAt]) VALUES (99, N'ANH85012PT', N'blue', 0, N'vi_VN', N'inter', 14, N'default', CAST(N'2025-11-24T22:45:01.800' AS DateTime))
INSERT [dbo].[USER_SETTINGS] ([SettingId], [UserId], [ThemeCode], [DarkMode], [LanguageCode], [FontCode], [FontSize], [LayoutCode], [UpdatedAt]) VALUES (100, N'Anh8715OP', N'green', 1, N'jp_JP', N'roboto', 15, N'compact', CAST(N'2025-11-24T22:45:01.800' AS DateTime))
INSERT [dbo].[USER_SETTINGS] ([SettingId], [UserId], [ThemeCode], [DarkMode], [LanguageCode], [FontCode], [FontSize], [LayoutCode], [UpdatedAt]) VALUES (101, N'ANH98191KH', N'purple', 0, N'en_US', N'arial', 16, N'comfortable', CAST(N'2025-11-24T22:45:01.800' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[USER_SETTINGS] OFF
GO
INSERT [dbo].[USERS] ([USERNAME], [PASS], [AUTH]) VALUES (N'admin', N'admin', N'AD')
INSERT [dbo].[USERS] ([USERNAME], [PASS], [AUTH]) VALUES (N'fnag', N'fn', N'FNTBTAG')
INSERT [dbo].[USERS] ([USERNAME], [PASS], [AUTH]) VALUES (N'fnhn', N'fn', N'FNTBTHN')
GO
INSERT [dbo].[VANCHUYENNVL] ([MAVC], [CPVC], [NGAYVC]) VALUES (N'VC01', 350000.0000, CAST(N'2025-04-10' AS Date))
INSERT [dbo].[VANCHUYENNVL] ([MAVC], [CPVC], [NGAYVC]) VALUES (N'VC02', 275000.0000, CAST(N'2025-04-11' AS Date))
INSERT [dbo].[VANCHUYENNVL] ([MAVC], [CPVC], [NGAYVC]) VALUES (N'VC03', 420000.0000, CAST(N'2025-04-12' AS Date))
GO
INSERT [dbo].[VITRICONGVIEC] ([MACV], [TENCV], [MACM], [HESOLUONG]) VALUES (N'BKT030', N'Báo cáo kỹ thuật', N'VTD0000030', 1.8)
INSERT [dbo].[VITRICONGVIEC] ([MACV], [TENCV], [MACM], [HESOLUONG]) VALUES (N'BKT041', N'Báo cáo thực hiện', N'CDA0000041', 3.4)
INSERT [dbo].[VITRICONGVIEC] ([MACV], [TENCV], [MACM], [HESOLUONG]) VALUES (N'BKT057', N'Báo cáo môi trường', N'THI0000057', 3.6)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DUANTHEO__603F004906DD3F5E]    Script Date: 27/11/2025 4:50:43 ******/
ALTER TABLE [dbo].[DUANTHEOHOPDONG] ADD UNIQUE NONCLUSTERED 
(
	[MADA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DUANTHEO__603F20CF04D7332F]    Script Date: 27/11/2025 4:50:43 ******/
ALTER TABLE [dbo].[DUANTHEOHOPDONG] ADD UNIQUE NONCLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USERS__0571211E23F66A63]    Script Date: 27/11/2025 4:50:43 ******/
ALTER TABLE [dbo].[USERS] ADD UNIQUE NONCLUSTERED 
(
	[AUTH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LICHLAMVIEC] ADD  DEFAULT ((1)) FOR [CHUNHAT]
GO
ALTER TABLE [dbo].[LICHLAMVIEC] ADD  DEFAULT ((1)) FOR [NGAYLE]
GO
ALTER TABLE [dbo].[LICHLAMVIEC] ADD  DEFAULT ((1)) FOR [HESOLUONG]
GO
ALTER TABLE [dbo].[USER_SETTINGS] ADD  DEFAULT ((0)) FOR [DarkMode]
GO
ALTER TABLE [dbo].[USER_SETTINGS] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[BAOCAO]  WITH CHECK ADD FOREIGN KEY([MADN])
REFERENCES [dbo].[THONGTINDOANHNGHIEP] ([MADN])
GO
ALTER TABLE [dbo].[CHAMCONG]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[CPDUAN]  WITH CHECK ADD FOREIGN KEY([MADA])
REFERENCES [dbo].[DUAN] ([MADA])
GO
ALTER TABLE [dbo].[CPDUAN]  WITH CHECK ADD FOREIGN KEY([MANHAP])
REFERENCES [dbo].[NHAPNVL] ([MANHAP])
GO
ALTER TABLE [dbo].[CPDUAN]  WITH CHECK ADD FOREIGN KEY([MAVC])
REFERENCES [dbo].[VANCHUYENNVL] ([MAVC])
GO
ALTER TABLE [dbo].[DSCHUYENMON]  WITH CHECK ADD FOREIGN KEY([CACBC])
REFERENCES [dbo].[DSBANGCAP] ([MABC])
GO
ALTER TABLE [dbo].[DSCHUYENMON]  WITH CHECK ADD FOREIGN KEY([CACKN])
REFERENCES [dbo].[DSKYNANG] ([MAKN])
GO
ALTER TABLE [dbo].[DSCHUYENMON]  WITH CHECK ADD FOREIGN KEY([CACNN])
REFERENCES [dbo].[DSNGONNGU] ([MANN])
GO
ALTER TABLE [dbo].[DSTHUONGPHAT]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[DTDICHVU]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DTDUAN]  WITH CHECK ADD FOREIGN KEY([DSMARR])
REFERENCES [dbo].[RUIRO] ([MARR])
GO
ALTER TABLE [dbo].[DTDUAN]  WITH CHECK ADD FOREIGN KEY([MADA])
REFERENCES [dbo].[DUAN] ([MADA])
GO
ALTER TABLE [dbo].[DTDUAN]  WITH CHECK ADD FOREIGN KEY([MAKV])
REFERENCES [dbo].[DTTHEOKV] ([MAKV])
GO
ALTER TABLE [dbo].[DTDUAN]  WITH CHECK ADD FOREIGN KEY([MALH])
REFERENCES [dbo].[DTTHEOLHCT] ([MALH])
GO
ALTER TABLE [dbo].[DUAN]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DUANTHEOHOPDONG]  WITH CHECK ADD FOREIGN KEY([MADA])
REFERENCES [dbo].[DUAN] ([MADA])
GO
ALTER TABLE [dbo].[DUANTHEOHOPDONG]  WITH CHECK ADD FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOPDONG] ([MAHD])
GO
ALTER TABLE [dbo].[LICHLAMVIEC]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[LUONG]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NHANTHAN]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([MACV])
REFERENCES [dbo].[VITRICONGVIEC] ([MACV])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([MADN])
REFERENCES [dbo].[THONGTINDOANHNGHIEP] ([MADN])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([MAPB])
REFERENCES [dbo].[PHONGBAN] ([MAPB])
GO
ALTER TABLE [dbo].[NVTHAMGIADA]  WITH CHECK ADD FOREIGN KEY([MADAHD])
REFERENCES [dbo].[DUANTHEOHOPDONG] ([MADAHD])
GO
ALTER TABLE [dbo].[NVTHAMGIADA]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHONGBAN]  WITH CHECK ADD  CONSTRAINT [FK_TRGPHG] FOREIGN KEY([MATRG_PHG])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHONGBAN] CHECK CONSTRAINT [FK_TRGPHG]
GO
ALTER TABLE [dbo].[THONGTINBAOHIEM]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[THONGTINLIENHE]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[THONGTINSUCKHOE]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD FOREIGN KEY([AUTH])
REFERENCES [dbo].[CONFIRMAUTH] ([AUTH])
GO
ALTER TABLE [dbo].[VITRICONGVIEC]  WITH CHECK ADD FOREIGN KEY([MACM])
REFERENCES [dbo].[DSCHUYENMON] ([MACM])
GO
ALTER TABLE [dbo].[LUONG]  WITH CHECK ADD CHECK  (([LOAINV]='PT' OR [LOAINV]='FT'))
GO
USE [master]
GO
